.media-container {
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.media-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 260px;
  transition: transform 0.2s;
}

.media-tile.unavailable {
  opacity: 70%;
}

.media-tile.unavailable img {
  /* filter: blur(0.1rem); */
  filter: brightness(20%);
}

.media-tile:hover {
  transform: scale(1.03);
}

.media-tile img {
  width: 150px;
  height: 200px;
  border-radius: 0.3rem;
}

.media-tile-genre-cover {
  display: flex;
  align-items: flex-start;
}

.media-tile-genre-cover h2 {
  font-weight: 500;
  writing-mode: sideways-lr;
  font-size: 2rem;
  letter-spacing: 1rem;
  cursor: default;
}

.media-tile-cover-title {
  all: unset;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
  cursor: pointer;
}
.media-tile-cover-title:hover p {
  /* TODO */
}

.media-tile-cover-title p {
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

.pagination .pagination-btn {
  display: flex;
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  align-items: center;
}

.pagination .pagination-btn.hide {
  opacity: 50%;
}

.pagination .pagination-btn:hover:not(.hide) {
  background-color: #ddd;
  color: black;
}

/* Search bar */
.search-container-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.search-container {
  display: flex;
  gap: 1rem;
  height: 3rem;
  width: 50rem;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--primary-color);
  border-radius: 2rem;
  border: 0.1rem solid var(--secondary-color);
}

.search-container .search-input {
  font-size: 1rem;
  border-radius: 2rem;
  height: 2rem;
  padding-left: 1rem;
  border: none;
}

.search-container .search-input:focus {
  outline: none;
}

.search-container select {
  all: unset;
  appearance: menulist-button;
  border: 0.05rem solid var(--primary-color);
  padding: 0.2rem;
  border-radius: 2rem;
  text-align: center;
}

.search-container .checkbox-container {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.search-container .checkbox {
  accent-color: var(--primary-color);
}

.search-btn {
  all: unset;
  background-image: url("../images/search-icon.png");
  background-size: contain;
  background-color: transparent;
  border: none;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.search-btn:hover {
  transform: scale(1.1);
}
