.return {
  margin: 0;
  justify-content: center;
  /* background-color: blue; */
  max-width: fit-content;
  /* max-width: 20%; */
  /* color: blue; */
}

.user-page div p {
  font-weight: bold;
  text-align: center;
  color: white;
  align-self: center;
  justify-self: center;
  padding: 2rem;
  border-radius: 0.6rem;
}

.user-table {
  text-align: center;
}

a {
 text-decoration: none;
}