.return {
  margin: 0;
  justify-content: center;
}

.user-page div p {
  font-weight: bold;
  text-align: center;
  color: white;
  align-self: center;
  justify-self: center;
  padding: 2rem;
  border-radius: 0.6rem;
}

.user-table {
  text-align: center;
}
