.user-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 3rem;
}

.user-page h1 {
  color: var(--secondary-color);
}

.user-table {
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
}

.user-table td,
.user-table th {
  border: 0.1rem solid;
  border-color: white;
  padding: 0.8rem;
}

.borrow-list-container {
  display: flex;
  width: 100%;
  background-color: aqua;
  justify-content: center;
}

.borrow-list {
  background-color: var(--background-color);
  color: white;
  align-self: center;
  justify-self: center;
  padding: 2rem;
  border-radius: 0.6rem;
}

.borrow-list p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.borrow_count_and_detail_btn {
  display: flex;
  justify-content: center;
}

.borrow_count_and_detail_btn p {
  font-weight: bold;
}

.borrow_count_and_detail_btn .btn-primary {
  font-weight: bold;
  padding: 0.6rem 2rem;
  border-radius: 1rem;
}
